*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    background-color: darkgray;
}

h1,
h2{
    text-align: center;
    margin: 1em;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.75em;
}

button{
    width: 8em;
    height: 2.75em;
    border-radius: 0.2em;
    border-style: none;
    box-shadow: 0 1px 0.3em 0.1em rgb(48,48,48)
}

#controls{
    width: 15em;
    height: 30em;
    background-color: gray;
    border-radius: 0.2em;
    box-shadow: 0 1px 0.5em 0.1em rgb(48, 48, 48);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: left;
}

#controlButtons{
    flex-direction: column;
    gap: 1em;
}

#sizeButtons{
    flex-direction: column;
    gap: 1em;
}

.flex-container{
    display: flex;
}

#eas-container{
    display: grid;
    width: 960px;
    height: 960px;
    padding: 1em;
    background-color: gray;
    grid-gap: 1px;
    

}

.easBox{
    background-color: white;
}

.active{
    background-color: black;
}

.wrapper-main{
    width: 100%;
    padding: 2em;
    gap: 5em;
}